**/.snakemake/**
ignored/**
to_do.txt
#workflow/.snakemake/**
workflow/datasets/**
workflow/reports/**
workflow/temp/**
workflow/Snakefile
workflow/models/**
workflow/notebooks/**
workflow/scripts/__pycache__/**